@charset "UTF-8"

/* HEADER START*/
.header
  background-color: $bkg-mid-grey-color
  border-bottom: 1px solid $border-line-light-color
  width: 100%
  // фиксируем шапку сайта для mobile & tablet
  position: fixed
  z-index: 100
  top: 0

  @media only screen and (min-width: $tablet-average-content-width)
    position: unset

.header__container
  display: flex
  justify-content: space-between
  height: 54px
  padding: 0 10px
  @media only screen and  (min-width: $mobile-content-width)
    padding: 0 15px
  @media only screen and  (min-width: $tablet-average-content-width)
    height: 65px
    padding: 0 20px
  @media only screen and (min-width: $tablet-content-width)
    padding: 0 30px
  @media only screen and (min-width: $desktop-content-width + 40px)
    padding: 0 10px

.header__left
  position: relative
  display: flex
  align-items: center
  //justify-content: space-between
  width: 100%

.header__logo
  background: url(../../images/logo/logo-partner-mobile.svg) no-repeat center
  background-size: contain
  width: 33px
  height: 33px
  opacity: 0.9
  @media only screen and (min-width: $tablet-average-content-width)
    background: url(../../images/logo/logo-partner.svg) no-repeat center
    background-position: 0 17px
    background-size: 115px
    width: 135px
    height: 65px
    margin-left: 5px

.header__right
  display: flex
  align-items: center

  // header: прозрачность иконок меню
  .icon-heart,
  .icon-suitcase,
  .icon-chat-1,
  .icofont-user
    color: $main-font-color
    opacity: 0.8
    transition: all 0.3s ease-in-out
    &:hover
      color: $main-blue-color
      opacity: 1

.header__currency
  margin-right: 33px
  .select-cover
    &::before
      font-size: 7px
      right: 15px
      top: 1px
      height: 0
  select
    padding: 0 21px 0 14px
    font-size: 16px
    color: $font-grey-color
    font-weight: 400
    @media only screen and (min-width: $tablet-average-content-width)
      padding: 0 22px 0 14px
      font-size: 18px

.header__notifications
  display: flex
  height: 100%
  align-items: center

.notifications__point
  position: absolute
  z-index: 10
  background: $red-color
  width: 8px
  height: 8px
  border-radius: 50%

.header__favorite
  position: relative
  font-size: 19px
  margin-right: 30px
  .notifications__point
    margin-left: 20px
    margin-top: -1px

.header__requests
  //display: none
  position: relative
  font-size: 20px
  margin-right: 28px
  .notifications__point
    margin-left: 20px
    margin-top: -1px

.header__chat
  position: relative
  font-size: 22px
  margin-top: 2px
  margin-right: 20px
  .notifications__point
    margin-left: 24px
    margin-top: -1px

.header__user
  position: relative
  display: flex
  height: 100%
  align-items: center
  cursor: pointer
  .menu-list
    margin-top: 20px
    right: -5px
    margin-right: 5px
  a
    text-decoration: none

.user__icon
  width: 32px
  height: 32px
  padding-top: 5px
  //padding-right: 2px
  //padding-left: 10px
  font-size: 20px
  text-align: center

.user__avatar
  width: 35px
  height: 35px
  margin-left: 5px
  margin-right: 5px
  border-radius: 50%

  img
    display: block
    width: 100%
    border-radius: 50%
    @include img-light-shadow
    &:hover
      opacity: 0.8

.hidden-menu
  right: 6px
  top: 6px

/* HEADER FINISH */