@charset "UTF-8"

.authorization
  display: flex
  flex-direction: column
  align-items: center
  padding: 20px 10px 60px 10px
  @media only screen and (min-width: $mobile-content-width)
    padding: 20px 15px 60px 15px
  @media only screen and (min-width: $tablet-average-content-width)
    padding: 30px 20px 70px 20px
  @media only screen and (min-width: $tablet-content-width)
    flex-direction: row
    justify-content: center
    align-items: flex-start
    margin-bottom: 100px

  .login,
  .register
    flex: 1
    width: 100%
    min-width: 300px
    max-width: 360px
  .form-comment
    padding-left: 10px

.authorization__form
  background-color: $bkg-dark-grey-color
  border-radius: 10px
  @include box-deep-shadow
  transition: all 0.3s linear
  &:first-child
    margin-bottom: 40px
  @media only screen and (min-width: $tablet-content-width)
    margin: 0 3%

  //.block-title
    font-size: 22px

  .info-field__head
    display: inline-block
    //font-family: $f_montserrat
    color: $font-grey-color
    text-transform: lowercase
    font-size: 14px
    padding-bottom: 1px
    font-weight: 400

  &.register
    position: relative
    padding: 15px 25px 40px 25px
    @media only screen and (min-width: 1000px)
      padding: 20px 35px 40px 35px

  &.login
    padding: 15px 25px 35px 25px
    @media only screen and (min-width: 1000px)
      padding: 20px 35px 30px 35px
    p
      padding-top: 10px

  form
    margin: 0 auto
    //padding: 0 5px

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="password"]
      width: 100%
      margin-bottom: 3px

    #name,
    #surname
      text-transform: capitalize

    label
      display: block
      padding-left: 8px
      margin-top: 20px
      margin-bottom: 0

    label[for='add-password']
      margin-top: 20px

    .info-field__content
      color: $font-grey-color
      line-height: 1.3em
      padding-bottom: 7px

    button
      display: flex
      justify-content: center
      margin: 0 auto
      margin-top: 35px

    .agreement
      margin-top: 30px

      div:first-child
        padding-left: 15px
        padding-bottom: 3px
        //font-family: $f_montserrat
        color: $font-grey-color
        font-size: 15px
        font-weight: 300

      div:last-child
        padding-left: 13px

      label
        cursor: unset
        margin-top: 6px
        &::before
          cursor: pointer

      .link
        display: block
        //font-family: $f_montserrat
        //font-weight: 400
        //font-size: 13px
        line-height: 150%
        margin-left: 5px

  &.login
    .link
      //font-family: $f_montserrat
      //font-weight: 400
      //font-size: 13px
      line-height: 150%
      text-align: center
      margin-top: 10px